Repository jerethom/stream-components, changes with the labels that .github/labeler.yml gives for each.
All labels: Api, Front, Lib, Github

chore: try release it
  .github/workflows/release.yml
Labels: Github

chore: rename github workflow
  .github/workflows/build-and-test.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
Labels: Github

chore: global store
  .github/actions/setup/action.yml
Labels: Github

chore: fix yaml
  .github/workflows/label.yml
Labels: Github

chore: release-it configuration
  .release-it.json
Labels: none

chore: remove dry-run option
  .github/workflows/release.yml
Labels: Github

chore: rename release job
  .github/workflows/release.yml
Labels: Github

chore: rename workflow
  .github/workflows/build-and-test.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
Labels: Github

feat: use sse instead of ws
  apps/api/src/app/EventEmitter.ts
  apps/api/src/app/Routers/User/Mutation/Add.ts
  apps/api/src/app/Routers/User/Subscription/Added.ts
  apps/api/src/app/Routers/User/Subscription/OnAdded.ts
  apps/api/src/app/Routers/User/UserRouter.ts
  apps/api/src/app/SSESubscriptions.ts
  apps/api/src/app/Server.ts
  apps/stream-components/.browserslistrc
  apps/stream-components/.eslintrc.json
  apps/stream-components/project.json
  apps/stream-components/proxy.conf.json
  apps/stream-components/src/app/app.component.html
  apps/stream-components/src/app/app.component.ts
  apps/stream-components/src/app/app.routing.ts
  apps/stream-components/src/app/services/TrpcCache.ts
  apps/stream-components/src/app/services/trpc.service.ts
  apps/stream-components/src/app/services/user.service.ts
  apps/stream-components/src/app/signin/page/index/index-page.component.html
  apps/stream-components/src/app/signin/page/index/index-page.component.ts
  apps/stream-components/src/app/signin/signin.routing.ts
  apps/stream-components/src/environments/environment.prod.ts
  apps/stream-components/src/environments/environment.ts
  apps/stream-components/src/index.html
  apps/stream-components/src/main.ts
  package.json
  pnpm-lock.yaml
Labels: Api, Front

chore: prisma generate in ci
  .github/workflows/build-and-test.yml
Labels: Github

chore: rename job prisma generate
  .github/workflows/build-and-test.yml
Labels: Github

refactor: add comment & fp-ts
  apps/api/src/app/SSESubscriptions.ts
  package.json
  pnpm-lock.yaml
Labels: Api

feat: clean deps & use ws instead of sse
  apps/api/src/app/Context.ts
  apps/api/src/app/Routers/User/Mutation/Add.ts
  apps/api/src/app/Routers/User/Subscription/Added.ts
  apps/api/src/app/Routers/User/Subscription/OnAdded.ts
  apps/api/src/app/Routers/User/UserRouter.ts
  apps/api/src/app/SSESubscriptions.ts
  apps/api/src/app/Server.ts
  apps/api/src/app/Trpc.ts
  apps/api/src/app/Utils/Context.ts
  apps/api/src/app/Utils/Database.ts
  apps/api/src/app/Utils/EventEmitter.ts
  apps/api/src/app/Utils/Logger.ts
  apps/api/src/app/Utils/Tmi.ts
  apps/api/src/app/WSServer.ts
  apps/stream-components/src/app/app.component.html
  apps/stream-components/src/app/app.component.scss
  apps/stream-components/src/app/app.component.ts
  apps/stream-components/src/app/app.routing.ts
  apps/stream-components/src/app/common/unavailable/unavailable.component.ts
  apps/stream-components/src/app/guards/is-logged-in.guard.ts
  apps/stream-components/src/app/guards/is-logged-out.guard.ts
  apps/stream-components/src/app/services/TrpcCache.ts
  apps/stream-components/src/app/services/trpc.service.ts
  apps/stream-components/src/app/services/user.service.ts
  apps/stream-components/src/app/signin/page/index/index-page.component.html
  apps/stream-components/src/app/signin/page/index/index-page.component.ts
  apps/stream-components/src/app/signup/page/index/index-page.component.html
  apps/stream-components/src/app/signup/page/index/index-page.component.ts
  apps/stream-components/src/app/signup/signup.routing.ts
  apps/stream-components/src/environments/environment.prod.ts
  apps/stream-components/src/environments/environment.ts
  apps/stream-components/src/index.html
  apps/stream-components/src/styles.scss
  package.json
  pnpm-lock.yaml
Labels: Api, Front

feat: capture message from tmi without bot
  apps/api/src/app/Routers/AppRouter.ts
  apps/api/src/app/Routers/Chat/ChatRouter.ts
  apps/api/src/app/Routers/Chat/Subscription/OnMessage.ts
  apps/stream-components/src/app/services/track-by.service.ts
  apps/stream-components/src/app/services/user.service.ts
  apps/stream-components/src/app/signin/page/index/index-page.component.html
  apps/stream-components/src/app/signin/page/index/index-page.component.ts
  apps/stream-components/src/index.html
  apps/stream-components/src/main.ts
  package.json
  pnpm-lock.yaml
Labels: Api, Front

feat: create message type
  apps/api/src/app/Routers/Chat/Subscription/OnMessage.ts
  apps/stream-components/src/app/services/user.service.ts
  apps/stream-components/src/app/signin/page/index/index-page.component.html
  apps/stream-components/src/app/signin/page/index/index-page.component.ts
  libs/shared/src/lib/models/Message.ts
  libs/shared/src/lib/models/index.ts
Labels: Api, Front, Lib

feat: http router
  apps/api/src/app/Http/Plugins/DatabasePlugin.ts
  apps/api/src/app/Http/Router/Hook/HookRouter.ts
  apps/api/src/app/Http/Router/Hook/TwitchAuth.ts
  apps/api/src/app/Http/Router/HttpRouter.ts
  apps/api/src/app/Procedures.ts
  apps/api/src/app/Routers/User/Query/GetAll.ts
  apps/api/src/app/Rpc/Middlewares/ExtractUserFromAccessToken.ts
  apps/api/src/app/Rpc/Middlewares/IsAuth.ts
  apps/api/src/app/Rpc/Routers/AppRouter.ts
  apps/api/src/app/Rpc/Routers/Chat/ChatRouter.ts
  apps/api/src/app/Rpc/Routers/Chat/Subscription/OnMessage.ts
  apps/api/src/app/Rpc/Routers/User/Mutation/Add.ts
  apps/api/src/app/Rpc/Routers/User/Mutation/LogIn.ts
  apps/api/src/app/Rpc/Routers/User/Query/GetAll.ts
  apps/api/src/app/Rpc/Routers/User/Query/GetById.ts
  apps/api/src/app/Rpc/Routers/User/Query/IsLogged.ts
  apps/api/src/app/Rpc/Routers/User/Subscription/OnAdded.ts
  apps/api/src/app/Rpc/Routers/User/UserRouter.ts
  apps/api/src/app/Server.ts
  apps/api/src/app/WSServer.ts
  apps/stream-components/src/app/signup/page/index/index-page.component.html
  package.json
  pnpm-lock.yaml
Labels: Api, Front

feat: api config
  .env
  .gitignore
  README.md
  apps/api/src/app/Http/Hooks/HeaderHook.ts
  apps/api/src/app/Http/Plugins/ConfigurationPlugin/ConfigurationPlugin.ts
  apps/api/src/app/Http/Plugins/ConfigurationPlugin/ConfigurationValidator.ts
  apps/api/src/app/Http/Plugins/ConfigurationPlugin/ZodConfigurationError.ts
  apps/api/src/app/Http/Router/Hook/HookRouter.ts
  apps/api/src/app/Http/Router/Hook/TwitchUri.ts
  apps/api/src/app/Server.ts
  apps/api/src/app/Utils/Context.ts
  apps/api/src/assets/config/custom-environment-variables.yml
  apps/api/src/assets/config/default.yml
  apps/api/src/main.ts
  apps/api/src/setup.ts
  package.json
  pnpm-lock.yaml
Labels: Api

feat: common config system
  apps/api/src/app/Adapter/Configuration/ConfigurationAdapter.ts
  apps/api/src/app/Adapter/Configuration/ConfigurationNodeConfig.ts
  apps/api/src/app/Adapter/StateCache/StateCacheAdapter.ts
  apps/api/src/app/Adapter/StateCache/StateCacheLru.ts
  apps/api/src/app/Http/Plugins/ConfigurationPlugin/ConfigurationPlugin.ts
  apps/api/src/app/Rpc/Routers/AppRouter.ts
  apps/api/src/app/Rpc/Routers/Twitch/Query/AuthUri.ts
  apps/api/src/app/Rpc/Routers/Twitch/TwitchRouter.ts
  apps/api/src/app/Utils/Context.ts
  apps/stream-components/src/app/signin/page/index/index-page.component.html
  apps/stream-components/src/app/signin/page/index/index-page.component.ts
  apps/stream-components/src/main.ts
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: Api, Front

feat: base page
  apps/api/src/app/Adapter/Configuration/ConfigurationAdapter.ts
  apps/api/src/app/Adapter/Configuration/ConfigurationNodeConfig.ts
  apps/api/src/app/Adapter/StateCache/StateCacheAdapter.ts
  apps/api/src/app/Adapter/StateCache/StateCacheLru.ts
  apps/api/src/app/Http/Plugins/ConfigurationPlugin/ConfigurationPlugin.ts
  apps/api/src/app/Http/Router/Hook/HookRouter.ts
  apps/api/src/app/Http/Router/Hook/TwitchUri.ts
  apps/api/src/app/Rpc/Routers/Twitch/Query/AuthUri.ts
  apps/stream-components/src/app/signin/page/index/index-page.component.html
  apps/stream-components/src/app/signin/page/index/index-page.component.ts
Labels: Api, Front

.github/labeler.yml:

Api:
  - apps/api/*
  - apps/api/**/*

Front:
  - apps/stream-components/*
  - apps/stream-components/**/*

Lib:
  - libs/*
  - libs/**/*

Github:
  - .github/*
  - .github/**/*
